<%- include("partials/header") %>
<form action="/academics/db/create" method="POST">
	<div class="container">
		<div class="input-group flex-nowrap">
			<span class="input-group-text" id="addon-wrapping">Branch</span>
			<input type="text" class="form-control" placeholder="Username" name="branch" aria-label="Username" aria-describedby="addon-wrapping">
		</div>	
		<div class="input-group flex-nowrap">
			<span class="input-group-text" id="addon-wrapping">Sem</span>
			<input type="text" class="form-control" placeholder="Username" name="sem" aria-label="Username" aria-describedby="addon-wrapping">
		</div>
		<div class="input-group flex-nowrap">
			<span class="input-group-text" id="addon-wrapping">Subject</span>
			<input type="text" class="form-control" placeholder="Username" name="subject" aria-label="Username" aria-describedby="addon-wrapping">
		</div>
		<input type="submit" class="btn btn-success">
	</div>
</form>
<%- include("partials/footer") %>