.footer{
	color:#fff;
	background-color:#303030;
}
.titl{
	font-weight:bold;
}
.content{
	margin-bottom:10px;
}
footer.p{
	margin:0px;
}
.upperPart{
	display:flex;
}
.list{
	width:25%;
}
hr.solid {
  border-top: 3px solid #fff;
}
.email{
	height:39px;
	width:250px;
	color:#000;
	border-radius:5px;
	padding:10px;
}
.emailInput{
	display:flex;
	align-items: baseline;
}
.inputContent{
	display:flex;
}
.inputAndIcons{
	display:flex;
}
.underline{
	text-decoration:underline;
}
.signupo{
	display:flex;
	justify-content:center;
	align-items:center;
}
.invisible{
	text-decoration:invisible;
}