.footer {
	color: white;
	padding: 15px 0px;
	width: 100%;
}
.jumbotron {
	margin: 25px auto;
	padding: 0px;
	width: 100%;
}
.carousel-inner {
	height: 300px;
}

.parent-container{
	display:flex;
}

.left-container,.middle-container,.right-container{
	padding:15px;
	justify-content:center;
}

.left-container{
	width:20%;
}

.middle-container{
	width:60%;
}

.right-container{
	width:20%;
}

.right-card,.middle-card,.left-card{
	width:100%;
	padding:10px;
}