.carousel {
	margin: 25px auto;
	padding: 0px;
	width: 100%;
}

.parent-container {
	display: flex;
}

.left-container,
.middle-container,
.right-container {
	padding: 15px;
	justify-content: center;
}

.left-container {
	width: 20%;
}

.middle-container {
	width: 58%;
}

.right-container {
	width: 22%;
}


.right-card{
	width:100%;
}

.middle-card,
.left-card {
	width: 100%;
	padding: 10px;
}
.left-card-title,
.left-card-head {
	justify-content: center;
	display: flex;
}
.left-card-minor {
	display: flex;
}
h4 a:hover {
	text-decoration: none;
}