.personal_details{
	margin:20px;
	padding:20px;
	width:250px;
	height:auto;
	margin-top:30px;
}
.parent{
	display:flex;
}
.posts{
	padding:20px;
	margin:20px;
	width:70%;
}
a:hover{
	text-decoration:none;
}
.buttons{
	text-align:center;
}