.top{
	background-color:#00BFFF;
	height:200px;
	width:80%;
	margin:auto;
}
.tutorList{
	float:left;
	width:20%;
}
.queryArea{
	width:95%;
}
.add{
	width:100%;
}
.reply{
	width:150px;
	margin-left:auto;
}
.name{
	font-size:16px;
	display:flex;
	justify-content:center;
}